{{/*  NOTE: Scratch is set in './layouts/_default/baseof.html'  */}}

<p id="bottom" class="has-text-centered">
    © {{ if eq now.Year 2018 }}
        2018
    {{ else }}
        2018-{{ now.Year }}
    {{ end }}
    &middot;

    {{ .Site.Title }}
    &middot;

    {{ if .Site.Params.owner.url }}
        <a href="{{ .Site.Params.owner.url }}">
                {{ .Site.Params.owner.company }}
        </a>
    {{ end }}

    {{/*  NOTE: After the name a mid dot shall appear if more content follows. To achieve this the
    mid dot is set in the next paramter. This ensures that there's no mid dot if only the name is set.  */}}
    {{ with .Site.Params.owner.name }}
        {{ . }}
    {{ end }}

    {{/*  The first mid dot appears after the name if more parameteres are set  */}}
    {{ with .Site.Params.owner.strasse }}
        &middot;
        {{ . }}
    {{ end }}

    {{ with .Site.Params.owner.plz }}
        &middot;
        {{ . }}
    {{ end }}

    {{ with .Site.Params.owner.ort }}
        {{ . }}
    {{ end }}

    {{ with .Site.Params.owner.mobile }}
        &middot;
        Mobil: {{ . }}
    {{ end }}

    {{ with .Site.Params.owner.fon }}
        &middot;
        Tel: {{ . }}
    {{ end }}
    <br>
</p>
