{{/*  https://www.netlify.com/blog/2018/07/24/hugo-tips-how-to-create-author-pages/?utm_campaign=tool&utm_medium=website&utm_source=thenewdynamic.org  */}}

<h1>{{ .Params.name }}</h1>
<img src="{{ .Params.photo }}" alt="" />

<h2>Bio</h2>

{{ .Content }}

{{ with .Params.twitter }}
    <p>
        <a href="https://twitter.com/{{ substr . 1 }}">
            Follow {{ $.Params.name }} on Twitter
        </a>
    </p>
{{ end }}

<h2>Articles</h2>

<ul>
    {{ range .Data.Pages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>
