{{ define "main" }}

    {{/*  NOTE: This is the check whether the headline is longer than
    80 characters. In case this is true the class 'long-title'
    is added and so the larger headline can be styled with CSS.  */}}
    <section class="section">
        <div class="container">

            {{/*  If in page Front Matter 'headline = "color"' is defined it will
            change the headline's color.  */}}
            <h2{{ with .Params.headline }} style="color: {{ . }};"{{ end }}{{ if gt (len .Title) 80 }} class="long-title"{{ end }}>Dies ist die "{{ .Title }}"-Seite</h2>
            {{ with .Params.headline }}<p>Die alternative Farbe der Überschrift kommt aus dem Front Matter der Seite (Parameter 'headline').</p>{{ end }}

            {{ .Content }}

            {{ partial "map/mapContainer.html" . }}

        </div>
    </section>

{{ end }}


{{ define "addscripts" }}
    {{/*  Here you can define individual scripts for the site which will use/overwrite the block in './layouts/_default/baseof.html'  */}}
{{ end }}
