{{ define "main" }}

    <article>
        {{/*  If in page Front Matter 'headline = "color"' is defined it will
        change the headline's color.  */}}
        <h2{{ with .Params.headline }} style="color: {{ . }};"{{ end }}{{ if gt (len .Title) 80 }} class="long-title"{{ end }}>This is the "{{ .Title }}" Page</h2>
        {{ with .Params.headline }}<p>Die alternative Farbe der Überschrift kommt aus dem Front Matter der Seite (Parameter 'headline').</p>{{ end }}

        {{ with .Params.description }}<p>{{ . }}</p>{{ end }}

        <hr>

        {{ .Content }}
    </article>

{{ end }}


{{ define "addscripts" }}
    {{/*  Here you can define individual scripts for the site which will use/overwrite the block in './layouts/_default/baseof.html'  */}}
{{ end }}
