{{ define "main" }}

    {{/*  SECTION: Scroll Down
    =======================================================================  */}}

    {{ partial "scrollDown.html" . }}

    {{/*  End: Scroll Down  */}}


    {{/*  SECTION: Container
    =======================================================================  */}}

    <section class="section">
        <div class="container">

            {{/*  If in page Front Matter 'headline = "color"' is defined it will
            change the headline's color.  */}}
            <h2 {{ with .Params.headline }} style="color: {{ . }};" {{ end }} {{ if gt (len .Title) 80 }} class="long-title" {{ end }}>This is "{{ .Title }}" page</h2>
            {{ with .Params.headline }}<p>Die alternative Farbe der Überschrift kommt aus dem Front Matter der Seite (Parameter 'headline').</p>{{ end }}

            <div class="content">
                <!-- Content from './layouts/_index.md' -->
                {{ .Content | safeHTML }}
            </div>

            {{/*  SECTION: OpenStreetMap
            =======================================================================  */}}

            {{/*  Partial is only shown if in page Front Matter 'map_show: "yes"'  */}}
            <div>
                {{ partial "map/mapContainer.html" . }}
            </div>

            {{/*  End: OpenStreetMap  */}}

        </div>
    </section>


    {{/*  SECTION: Show Pages
    =======================================================================  */}}

    <section>
        {{ partial "pages/showPages.html" . }}
    </section>

    {{/*  End: Show Pages  */}}

    {{/*  End: Container  */}}


    {{/*  SECTION: Container
    =======================================================================  */}}

    <section class="section">
        <div class="container">
            {{ partial "data/homeText.html" . }}
        </div>
    </section>

    {{/*  End: Container  */}}


    {{/*  SECTION: Name
    =======================================================================  */}}

    {{ partial "scrollUp.html" . }}

    {{/*  End: Name  */}}

{{ end }}


{{ define "addscripts" }}
    {{/*  Here you can define individual scripts for the site which will use/overwrite the block in './layouts/_default/baseof.html'  */}}
{{ end }}
