{{/*
    https://www.jakewiesler.com/blog/anchored-headings-in-hugo/

    Call shortcode with '{{% heading title="Look ma, a header!" %}}'

    With '.Inner' variable:
    {{% heading %}}Look ma, a header!{{% /heading %}}

    In that case shortcode can look like:
    {{ $anchorized := anchorize .Inner }}

    <h3 id="{{ $anchorized }}">
        <a href="#{{ $anchorized }}">#</a>
        {{ .Inner }}
    </h3>
*/}}

<h3 id="{{ anchorize (.Get "title") }}">
    <a href="#{{ anchorize (.Get "title") }}">{{ .Get "title" }}</a>
</h3>
